body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

form {
    max-width: 800px;
    margin: 1.5rem auto;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    background: #f7f7f7;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* .form-page {
    display: none;
}

.form-page.active {
    display: block;
}

.form-section {
    margin-bottom: 20px;
}

.form-column {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-column label {
    width: 30%;
}

.form-column input,
.form-column select {
    width: 65%;
}

.form-navigation {
    display: flex;
    justify-content: space-between;
}

.form-navigation button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
}

.form-navigation button:disabled {
    background-color: #ccc;
}

.form-navigation button:not(:disabled):hover {
    background-color: #0056b3;
} */
/* Custom styles applied to form */

.form-label {
    font-size: 14px;
    margin-bottom: 4px;
    color: #4a4b4e;
    font-weight: 600;
}

::placeholder
{
    color: #e6e7e9;
    font-size: 14px;
}

.visibility-hidden {
    visibility: hidden;
}

.form-select{
    font-size: 14px;
    color: #6c757d;
}
.custom-control-label{
    font-size: 12px;
    color: #4a4b4e;
}
/* Helper classes */
.cursor-pointer{
    cursor: pointer;
}